<library path="lib/libmsl_gazebo_control">
  <class name="msl_gazebo_control/GazeboControl" type="msl_gazebo_control::GazeboControl" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to spawn and delete robot models in the msl_gazebo_simulator.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Gazebo Control</label>
      <icon type="file">resources/Actions-games-solve-icon.png</icon>
      <statustip>A GUI plugin to spawn and delete robot models in the msl_gazebo_simulator.</statustip>
    </qtgui>
  </class>
</library>
